$image-height: 200px;

.images-block {

    &__line {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        max-width: 300px;
        width: 100%;
        margin: 20px 15px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

        &:hover {
            cursor: pointer;
        }
    }

    &__item-title {
        margin: 0;
        padding: 4px 10px 8px 10px;
        text-align: center;
        background: linear-gradient(90deg, rgba(20, 179, 219, 0.733) 0%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.5) 70%, rgba(20, 179, 219, 0.733) 100%);
    }

    &__image {
        display: flex;
        width: 100%;
        height: 200px;
        align-items: center;
        justify-content: center;

        img {
            display: block;
            max-width: 100%;
            max-height: $image-height;
        }
    }

    &__image.loading {
        img {
            height: 0;
            width: 0;
        }
    }

    &__loader {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: rgba(148, 148, 148, 0.575);
    }
}

.container-images-block {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px 15px;
}