.gallery {

    &__sidebar {
        width: 30%;
        height: 100%;
        border-radius: 0 $border-radius-body $border-radius-body 0;
        background-color: rgb(48, 48, 48);
        overflow-y: auto;
        transition: right .7s ease;
    }

    
    &__close-sidebar {
        right: 10px;
    }

    &__info-text {
        font-size: 18px;
        text-align: center;
        color: #fff;
        font-weight: bold;
    }

    &__info-category {
        margin: 5px 10px 5px 15px;
        font-size: 16px;
        color: #fff;
    }

    &__action-field {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 20px auto 15px;
    }

    &__action-like {        
        line-height: 36px;
        margin: 10px 20px;
        padding: 2px 10px;
        font-size: 24px;

        &.liked {
            color: rgba(255, 0, 0, 0.842);
        }
    }

    &__action-zoom {
        line-height: 30px;
        margin: 10px 20px 10px auto;
        padding: 3px 10px;
        font-size: 18px;
    }

    &__action-order {
        display: block;
        margin: 10px 20%;
        width: 60%;
        line-height: 30px;
        border-radius: 5px;
        outline: none;
        border: none;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        background-color: rgba(0, 255, 234, 0.788);
        box-shadow: 1px 1px 5px rgba(0, 192, 176, 0.39);

        &:hover, &:focus {
            cursor: pointer;
            background-color: rgb(75, 255, 240);
            box-shadow: 3px 3px 10px rgba(0, 207, 190, 0.705);
        }
    }
}

@media all and(min-width: 768px) {
    .gallery {

        &__sidebar {
            right: 0;
            position: absolute;

            &.fullsize-md {
                position: absolute;
                right: -100%;
            }
        }
    }
}

@media all and(max-width: 768px) {
    .gallery {

        &__sidebar {
            position: absolute;
            width: 100%;
            height: auto;
            max-height: 70%;
            bottom: -100%;
            border-radius: 0 0 $border-radius-body $border-radius-body;
            transition: all .6s ease;

            &.active {
                bottom: 0;
            }
        }

        &__action-field {
            justify-content: space-between;
        }

        &__action-zoom {
            line-height: 30px;
            margin: 10px 20px;
            padding: 3px 10px;
            font-size: 18px;
        }

        &__action-order {
            margin: 0 20% 0 20%;
            width: 60%;
        }
    }
}