$border-radius-body: 7px;

@import './GalleryImageField/GalleryImageField.scss';
@import './GallerySidebar/GallerySidebar.scss';

.gallery {
    height: 100vh;

    &__enter {
        animation-name: gallery-enter;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
    }

    &__exit {
        animation-name: gallery-exit;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
    }

    &__overlay {
        position: fixed;
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        background-color: rgba(131, 131, 131, 0.541);
    }

    &__close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px;
        z-index: 1000;

        i {
            font-size: 32px;
            transition: color .3s ease;
        }

        &:hover {
            cursor: pointer;

            i {
                color: rgba(255, 0, 0, 0.692);
            }
        }
    }

    &__body {
        position: relative;
        display: flex;
        max-height: 80vh;
        width: 90%;
        height: 600px;
        margin: 0 auto;
        border-radius: $border-radius-body;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #fff;
    }

    &__action-like, &__action-zoom {
        text-align: center;
        border: none;
        outline: none;
        border-radius: 5px;
        color: #fff;
        background-color: rgba(87, 87, 87, 0.774);
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.295);
        transition: all .4s ease;

        &:hover {
            cursor: pointer;
            color: rgb(0, 0, 0);
            background-color: rgb(75, 255, 240);
            box-shadow: 3px 3px 10px rgba(0, 207, 190, 0.473);
        }

        &:active {
            background-color: rgba(3, 207, 221, 0.774);
            box-shadow: 3px 3px 10px rgba(0, 207, 190, 0.527);
        }
    }

    &__info-btn, &__close-sidebar, &__minus-fullscreen-btn {
        display: none;
        position: absolute;
        z-index: 1000;
        top: 10px;
        right: 10px;
        padding: 0 8px;
        line-height: 26px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        border: none;
        outline: none;
        border-radius: 4px;
        background-color: rgba(0, 209, 209, 0.521);
        box-shadow: 3px 3px 10px rgba(65, 65, 65, 0.329);
        transition: all .5s ease;

        &:hover {
            cursor: pointer;
            background-color: rgb(0, 197, 197);
            box-shadow: 3px 3px 10px rgba(65, 65, 65, 0.671);
        }

        &:active {
            background-color: rgb(0, 238, 238);
            box-shadow: 3px 3px 10px rgba(65, 65, 65, 0.808);
        }
    }
}

.container-gallery {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

@media all and(min-width: 768px) {
    .gallery {

        &__body {
            &.fullsize-md {
                max-height: 90vh;
                height: 86vh;
                width: 98%;
            }
        }
    }
}

@media all and(max-width: 768px) {
    .gallery {

        &__body {
            width: 92%;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        &__close-btn {
            top: 3px;
            right: 5px;
    
            i {
                font-size: 26px;
            }
        }

        &__info-btn, &__close-sidebar {
            display: block;
        }
    }
}

@keyframes gallery-enter {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes gallery-exit {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}