.gallery {

    &__image-field {
        position: relative;
        width: 70%;
        height: 100%;
        background-color: #fff;
        transition: all .5s ease;
    }

    &__image {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;

        img {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;

            &.loading {
                width: 0;
                height: 0;
            }
        }
    }

    &__image.fullsize {

        img {
            display: block;
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0, 0);
            max-width: none;
            max-height: none;
        }

        &:hover {
            cursor: move;
        }
    }

    &__img-loader {
        position: absolute;
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        background-color: rgba(230, 230, 230, 0.671);
        border-radius: $border-radius-body 0 0 $border-radius-body;
    }

    &__info-btn {
        right: 22px;
    }
}

.input-range {
    position: absolute;
    top: 25px;
    right: 38px;
    width: 100px;

    &__label-container {
        color: rgb(0, 153, 255);
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.199);
    }
}

@media all and(min-width: 768px) {
    .gallery {

        &__image-field {
            position: absolute;
            left: 0;

            &.fullsize-md {
                width: 100%;
                border-radius: $border-radius-body;
            }
        }

        &__minus-fullscreen-btn {
            
            &.fullsize {
                display: block;
                top: 18px;
                right: 160px;
            }
        }
    }
}

@media all and(max-width: 768px) {
    .gallery {

        &__image-field {
            width: 100%;
            border-radius: $border-radius-body $border-radius-body 0 0;
        }

        &__info-btn {

            &.fullsize {
                display: block;
                top: 18px;
                right: 160px;
            }
        }

        &__minus-fullscreen-btn {
            
            &.fullsize {
                display: block;
                top: 18px;
                right: 200px;
            }
        }
    }
}